*{
margin: 0;
padding: 0;
box-sizing: 0;

}

header{
    width: 100%;
    height: 100px;
 
}

.layout-grid{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto; /*centraliza o elemento*/

}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 130px; 
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 350px;
   

}

.menu a{
/* transformr s letras em maiuculo */
/* retirar a decoracao do link */
/* colocar o link na cor preta */
color: black;
text-transform: uppercase;
text-decoration: none;
font-family: 'Courier New', Courier, monospace;
font-weight: 600;
}


.banner {
border: 2px solid rgb(94, 247, 94);
}

.banner img {
position: relative;
width: 100%;

}
/* botao get start */
.banner a{

top: 50%;
left: 50%;

display: flex;
justify-content: center;
align-items: center;
width: 120px;
height: 45px;
color: aliceblue;
background-color: black;
border-radius: 3px;
font-family: 'Courier New', Courier, monospace;
text-decoration: none;
font-weight: 600;
}

/* body{
background-color: blueviolet;
} */